{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>AccessMap - College of Wooster</h1>

    <h2> What is it? </h2>

    <p>
    Welcome to AccessMap, the application for reporting accessibility issues
    to the College of Wooster!
    Create an account, make a report, and keep us accountable!
    </p>

    <h2> Why is this necessary? </h2>

    <p>
      Schools are known to be inaccessible to people with disabilities.
      We want to create a better system for tracking access needs and respond
      to accessiblity concerns around campus.
    </p>

{% endblock content %}
