{% extends '_base.html' %}
{% load leaflet_tags %}

{% block title %}Home{% endblock title %}

{% block content %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}

        <style>
            html, body, .container {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            max-width: 100%;
            overflow-y: hidden;
            }
            .leaflet-container { height: 100%; }
        </style>

        <script>
            var dataurl = '{% url "data" %}';

            window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function(resp) {
                return resp.json();
                })
                .then(function(data) {
                L.geoJson(data, {
                    onEachFeature: function onEachFeature(feature, layer) {
                    var content = `<h4>Report #${feature.properties.id}</h4>` 
                        + `<div><strong>Status: </strong>${feature.properties.status}</div>` 
                        + `<div><strong>Date: </strong>${feature.properties.date_added}</div>`
                        + `<div><strong>Description: </strong>${feature.properties.description}</div>`
                        + `<div style="text-align:left;"><a href={% url "data" %}${feature.properties.id}>details</a></div>`;
                    layer.bindPopup(content);
                }}).addTo(map);
                });
            });


        </script>

    </head>

    <body>
        {% leaflet_map "map" %}
    </body>

{% endblock content %}
