{% extends '_base.html' %}
{% load leaflet_tags %}

{% block title %}Home{% endblock title %}

{% block content %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        
        <style>
            html, body, .container {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            max-width: 100%;
            overflow-y: hidden;
            }
            .leaflet-container { height: 100%; }
        </style>

        <script>
            var dataurl = '{% url "data" %}';

            window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            map.once("click", function(e){
                var query = "?lat=" + e.latlng.lat.toString() + "&lon=" + e.latlng.lng.toString();
                var url = '{% url "new_report" %}';
                var content = '<a href=\"' + url + query + '\">New report?</a>';
                new L.Marker([e.latlng.lat, e.latlng.lng]).addTo(map).bindPopup(content).openPopup();
            }) 
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function(resp) {
                return resp.json();
                })
                .then(function(data) {
                L.geoJson(data, {
                    onEachFeature: function onEachFeature(feature, layer) {
                    var content = `<h3>${feature.properties.id}</h3><p>${feature.properties.description}</p>`;
                    layer.bindPopup(content);
                }}).addTo(map);
                });
            });

            
        </script>

    </head>

    <body>
        {% leaflet_map "map" %}
    </body>

{% endblock content %}