$primary: #000119;
$secondary: #D1D9FF;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
$light:         #D1D9FF;
$dark:          #1E1E1E;


@import './bootstrap/bootstrap';


.bg-white {
  background-color: $light !important;
}

body {
  background-color: $light;
}

.text-dark {
  color: $primary;
}
