$primary: #FFC5DE;
$secondary: #C4F2FF;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         #1E1E1E;
$dark:          #D1D9FF;


@import './bootstrap/bootstrap';
